@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  line-height: 28px;
  color: #000;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1366px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}